.landmarks {
  background-color: #eb0f0f;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.login {
  background-color:#eb0f0f;
  text-align: right;
  text-decoration: underline;
  color: white;
}

.toolbar {
  background-color: rgb(73, 73, 73);
  text-align: right;
  text-decoration: underline;
  color:white;
  padding: 10px;
  border: 5px solid rgb(73, 73, 73);
  margin: 1px;

}

h2.thick {
  font-weight:bold;
  margin: 1px;
  padding: 1px;
  font-size:large;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3.thick {
  font-weight:bold
}

#footer {
  background-color: rgb(73, 73, 73);
  text-align: justify;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding:30px;
}

#body {
  background-color: black;
}

.paragraph{
  text-align:left;
  margin: 5px;
  padding: 5px;
}
.content {
  background-color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 20px;
 
}
.art {
  vertical-align: text-top;
  padding: 20px;
  width:100%;
  margin:10px;

}
 .photos { 

  
  float:right;
  right: 0px;
  width: 300px;
  padding: 10px;
  margin:10px;

 }